
header{
    width: 100%;

        .top-header{
            background-color: $main-color-3; 
            .nav{
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                    .contacts{
                    display: flex;
                    gap: 20px;
                    }
                    .item-contacts a{
                    text-decoration: none;
                    color: white;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                      }

                    .item-contacts > a > span{
                        display: none;
                    }

                    @media (min-width: 1024px) { 
                        .item-contacts > a > span{
                            display: contents;
                        }
                    }
                    .select-language a {
                    text-decoration: none;
                    color: white;
                    }

                   
        }
    }

.bottom-header{
    $main-bg-color: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
        
    .nav-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $main-bg-color;
        height: 70px;
        
            .nav-2-menu-and-nav-2-buttons-block{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 50px;
            }
            @media (min-width: 1600px) {
                .nav-2-menu-and-nav-2-buttons-block{
                    gap: 100px;
                }
            }
                .nav-2-menu{
                    display: none;
                }
                @media (min-width: 1024px){
                .nav-2-menu{
                        display: flex;
                        gap: 44px;
                        justify-content: space-between;
                            a  {
                                display: block;
                                text-decoration: none;
                                color: $typography-heading-color;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 20px;
                            }
                        }
                    }
                .nav-2-buttons{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 40px;
                        .call-button-pc-img{
                            display: none;
                        }
                    } 
                    @media (min-width: 1024px){
                        .nav-2-buttons{
                            gap: 0px;
                            .call-button-mob-img{
                                display: none;
                            }
                            .menu-icon-mobile{
                                display: none;
                            }
                            .call-button-pc-img{
                                display: block;
                        }
                        }
                    }
            }  
            
        }
    }




            
        

