header {
  width: 100%;
}
header .top-header {
  background-color: #0C4B35;
}
header .top-header .nav {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .top-header .nav .contacts {
  display: flex;
  gap: 20px;
}
header .top-header .nav .item-contacts a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}
header .top-header .nav .item-contacts > a > span {
  display: none;
}
@media (min-width: 1024px) {
  header .top-header .nav .item-contacts > a > span {
    display: contents;
  }
}
header .top-header .nav .select-language a {
  text-decoration: none;
  color: white;
}
header .bottom-header {
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
}
header .bottom-header .nav-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  height: 70px;
}
header .bottom-header .nav-2 .nav-2-menu-and-nav-2-buttons-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
@media (min-width: 1600px) {
  header .bottom-header .nav-2 .nav-2-menu-and-nav-2-buttons-block {
    gap: 100px;
  }
}
header .bottom-header .nav-2 .nav-2-menu {
  display: none;
}
@media (min-width: 1024px) {
  header .bottom-header .nav-2 .nav-2-menu {
    display: flex;
    gap: 44px;
    justify-content: space-between;
  }
  header .bottom-header .nav-2 .nav-2-menu a {
    display: block;
    text-decoration: none;
    color: #212529;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
}
header .bottom-header .nav-2 .nav-2-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
header .bottom-header .nav-2 .nav-2-buttons .call-button-pc-img {
  display: none;
}
@media (min-width: 1024px) {
  header .bottom-header .nav-2 .nav-2-buttons {
    gap: 0px;
  }
  header .bottom-header .nav-2 .nav-2-buttons .call-button-mob-img {
    display: none;
  }
  header .bottom-header .nav-2 .nav-2-buttons .menu-icon-mobile {
    display: none;
  }
  header .bottom-header .nav-2 .nav-2-buttons .call-button-pc-img {
    display: block;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.title-services {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 15px;
}

.title-services span {
  color: #00730C;
}

.services-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.services-description p {
  text-align: center;
}

.service-item {
  height: 116px;
  width: 100%;
  padding: 20px;
  background-color: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  display: flex;
  justify-content: center;
  gap: 20px;
}

.service-item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.service-item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.service-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.service-item img {
  width: 50px;
}

.tree-planting-item .pc-image {
  display: none;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 960px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .services {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
  }
  .service-item {
    height: 300px;
    width: calc(33.33% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    gap: 0px;
  }
  .title-services {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 30px;
  }
  .services-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
    width: 850px;
  }
  .tree-planting-item {
    background-color: #00730C;
    color: #FFFFFF;
  }
  .service-item:not(:nth-child(1)) {
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  }
  .service-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }
  .service-item-description {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .tree-planting-item .pc-image {
    display: block;
  }
  .tree-planting-item .mobile-image {
    display: none;
  }
  .service-item img {
    width: 70px;
    height: 70px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1410px;
    margin: auto;
  }
  .services {
    gap: 30px;
    justify-content: space-between;
  }
  .service-item {
    height: 366px;
    width: calc(25% - 23px);
  }
  .services-description {
    width: 1136px;
  }
}
.experience {
  margin-top: 50px;
}
.experience .experience-rectangle {
  width: 188px;
  height: 293px;
  background-color: #00730C;
  position: relative;
  margin-bottom: 200px;
}
.experience .experience-big-image {
  width: 291px;
  height: 358px;
  background-color: grey;
  position: absolute;
  top: 12px;
  left: 12px;
}
.experience .experience-small-image {
  position: absolute;
  width: 241px;
  height: 150px;
  background-color: grey;
  border: 15px solid #FFFFFF;
  border-radius: 10px;
  left: 100px;
  top: 280px;
}
.experience .experience-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience .experience-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}
.experience .experience-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
}
.experience .experience-advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.experience .experience-advantage-item {
  width: calc(50% - 20px);
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 5px;
}
.experience .experience-advantage-item img {
  width: 40px;
  height: 40px;
}
.experience .experience-advantage-item span {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.discover-more-button {
  width: 167px;
  height: 40px;
  background-color: #00730C;
  font-family: "Nunito", sans-serif;
  color: white;
  border: 0px;
  border-radius: 5px;
  display: block;
  margin-top: 30px;
}

@media (min-width: 1024px) {
  .experience {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  .experience .experience-rectangle {
    width: 288px;
    height: 452px;
    margin-right: 195px;
  }
  .experience .experience-big-image {
    width: 385px;
    height: 475px;
  }
  .experience .experience-small-image {
    width: 300px;
    height: 190px;
    left: 170px;
    top: 420px;
  }
  .experience .experience-info {
    align-items: flex-start;
  }
  .experience .experience-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 51px;
    text-align: left;
  }
  .experience .experience-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
  }
  .experience .experience-advantage-item {
    flex-direction: row;
    gap: 15px;
  }
  .experience .experience-advantage-item img {
    width: 55px;
    height: 55px;
  }
  .experience .experience-advantage-item span {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
  .discover-more-button {
    margin-top: 20px;
  }
}
@media (min-width: 1600px) {
  .experience {
    margin-top: 100px;
  }
  .experience .experience-rectangle {
    width: 450px;
    height: 706px;
    margin-right: 297px;
  }
  .experience .experience-big-image {
    width: 601px;
    height: 741px;
  }
  .experience .experience-small-image {
    width: 456px;
    height: 306px;
    left: 233px;
    top: 560px;
  }
  .experience .experience-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    text-align: left;
  }
  .experience .experience-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
  }
  .experience .experience-advantages {
    margin-top: 50px;
  }
  .experience .experience-advantage-item img {
    width: 67px;
    height: 67px;
  }
  .experience .experience-advantage-item span {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }
  .discover-more-button {
    width: 190px;
    height: 50px;
    margin-top: 50px;
  }
}
.why-chous-us {
  background: #0C4B35;
  color: white;
}

.why-chous-us-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.why-choose-us-img {
  width: 345px;
  height: 217px;
  background-color: grey;
  margin-top: 50px;
}

.why-choose-us-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-top: 30px;
}

.why-choose-us-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
}

.choose-service-block {
  display: flex;
  flex-wrap: wrap;
  row-gap: 22px;
  margin-top: 40px;
  justify-content: space-between;
}

.choose-service-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc(50% - 30px);
  flex-wrap: nowrap;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 1024px) {
  .why-choose-us-img {
    width: 620px;
    height: 350px;
  }
  .why-choose-us-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;
  }
  .why-choose-us-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width: 1600px) {
  .why-choose-us-img {
    width: 672px;
    height: 426px;
  }
}/*# sourceMappingURL=style.css.map */